ideas

# data content dir
data/

#binaries of snakemake
.snakemake/

#results of test
results/ 

#scripts binaries
workflow/scripts/__psycache__

# Ignorar todo o conteudo da pasta resources
resources/*
# Excecao: manter a pasta de logos
!resources/logo/

#log of database
logs/*