ideas


# data content dir
data/

#binaries of snakemake
.snakemake/

# resources downloaded
resourcer/basta_db
resources/blast_db

#results of test
results/ 

#scripts binaries
workflow/scripts/__psycache__