ideas

# data content dir
data/

#binaries of snakemake
.snakemake/

#results of test
results/

#scripts binaries
workflow/scripts/__psycache__

# Ignorar todo o conteudo da pasta resources
resources/*
# Excecao: manter a pasta de logos
!resources/logo/

#log of database
logs/*

# NCBI API Key (never commit this!)
ncbi_api_key.txt

# Ignore all .fasta files in the resources/Phylo_DB directory
resources/Phylo_DB/*.fasta  